@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply mx-5 cursor-pointer uppercase hover:text-indigo-300;
  }
  .pageLink {
    @apply relative block py-2 px-3 leading-tight bg-white border border-gray-300 text-gray-800 mr-1 hover:bg-gray-200 cursor-pointer;
  }
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text- ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
h3,
h4 {
  font-size: 27px;
}
